<p-toast></p-toast>
<div class="admin-page">
    <p-card [header]="editmode ? 'Edit Category' : 'Add Category'" subheader="You can add or edit categories here">
        <div class="p-grid p-mb-5">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <p-button
                            styleClass="p-button-primary p-mr-2"
                            [label]="editmode ? 'Update' : 'Create'"
                            icon="pi pi-plus"
                            (click)="onSubmit()"
                            [ngStyle]="{ 'margin-right': '8px' }"
                        ></p-button>
                        <p-button styleClass="p-button-secondary" label="Cancle" icon="pi pi-arrow-circle-left" (click)="onCancle()"></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <form [formGroup]="form">
                    <div class="formgrid grid p-fluid ml-1 mb-1">
                        <div class="p-field p-col mr-6">
                            <label for="name">Name</label>
                            <input formControlName="name" class="form-control" style="width: 500px" id="name" type="text" pInputText />
                            <small *ngIf="categoryForm.name.invalid && isSubmitted" class="p-error">Name is required</small>
                        </div>
                        <div class="p-field p-col mr-6">
                            <label for="icon">Icon</label>
                            <input formControlName="icon" class="form-control" style="width: 500px" id="icon" type="text" pInputText />
                            <small *ngIf="categoryForm.icon.invalid && isSubmitted" class="p-error">Icon is required</small>
                        </div>

                        <div class="p-field p-col">
                            <label for="color">Color</label><br />
                            <p-colorPicker formControlName="color"></p-colorPicker>
                        </div>
                        <div class="p-col-12" *ngIf="isSubmitted && authError">
                            <small class="p-error">{{ authMessage }}</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
